.chat-container {
  position: fixed;
  bottom: 50px; 
  right: 0;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 9999;
  padding: 20px;
}
