.code {
  width: 150px;
  height: 50px;
  border: 2px solid #5151d3;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
}
.code:focus {
  outline: none;
}

.verify-btn {
  background:linear-gradient(to bottom,#8181d1,#2424cf);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  height: 60px;
  width: 200px;
}

.resend-code-btn {
  width: 120px;
  background-color: #5151d3;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}